### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-files
*.bclicense
*.flf
#Test results file
TestResults.xml

.opencode/

.txt

docs/

# Secrets
**/firebase-service-account.json
**/application-dev.properties
**/application-API.properties

#Local docs
./documents/changelog-cargo-tracking.md
./documents/test-cases-cargo-tracking.md
./documents/usecase-cargo-tracking.md
./documents/changelog-voucher-crud.md
./documents/changelog-local.md
./documents/USECASE_PassengerTicket_Payment_Refund.md
./documents/usecase-manage-customers.md
./documents/Test_Plan_System.docx

tracker/
